.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  top: 0px;
}

.btnMinha,
.sair {
  cursor: pointer;
  border: none;
  background: transparent;
}

.sair svg {
  max-width: 24px;
}

.nome {
  color: rgb(40, 50, 160, 1);
  font-weight: 800;
  font-size: 1rem;
}

.paragraphName {
  margin-right: 0.5rem;
  color: #333;
  padding: 4px;
  border-radius: 3px;
  background-color: rgb(90, 92, 160, 0.1);
  border: 0.4px solid rgb(40, 92, 160, 0.4);
}

.minhaConta svg {
  height: 24px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 4rem;
}

.logo a {
  display: inline-block;
}

.logo {
  align-self: flex-end !important;
  /* padding: 0.5rem 0; */
}

.login {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 600;
  align-self: center;
  display: flex;
  align-items: center;
}

.loginContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

@media (max-width: 40rem) {
  .loginContainer {
    gap: 8px;
  }
  .paragraphName,
  .nome {
    font-size: 0.8rem;
  }
}

@media (max-width: 40rem) {
  .paragraphName {
    display: none;
  }
}
